<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <related_products>
                <storefront_limit>4</storefront_limit>
            </related_products>
        </catalog>
    </default>
</config>
